{% extends "base.twig" %}

{% set slider_toggle = post.get_field('slider_toggle') %}
{% set video_toggle = post.get_field('video_toggle') %}

{% block styles %} {# append #}
    {{ parent() }}
    <link rel="stylesheet" href="{{ theme.link  }}/dist/css/single-portfolio.css" type="text/css" media="screen" />
{% endblock %}

{% block hero %}
    <section class="hero hero--portfolio">
    	<div class="grid container">
			<div class="hero__block">
				<div>
					<h1 class="hero__title">{{post.title}}</h1>
					<p class="hero__category">{{post.terms('portfolio-category') | join(', ') }}</p>
				</div>
				<div>
				{% if post.site_address %}
					<a href="http://{{post.site_address}}" class="btn btn--secondary">
					{% if video_toggle %}
						Watch on Vimeo
					{% else %}
						Visit Site
					{% endif %}
					</a>
				{% endif %}
				</div>
			</div>
    	</div>
    </section>
{% endblock %}

{% block media %}
{% if slider_toggle %}
{% set slider = post.get_field('slider_images') %}
	<section class="project-shots">
		<div class="main-carousel">
			{% for slide in slider %}
				<div class="carousel-cell"><img src="{{slide.image.url}}" alt="{{slide.image.alt}}"></div>
			{% endfor %}
		</div>
	</section>
	{% endif %}

{% if video_toggle %}
	<section class="project-shots">
		<div class="grid container">
			<div class="project-shots__media">
				<div class="video-wrapper">
					{{ post.embed_code }}
				</div>
			</div>
		</div>
	</section>	
{% endif %}
{% endblock %}

{% block content %}
	<section class="project-info">
			<div class="project-details">
			{% if post.details %}
				<h2 class="project-details__title">Project Details</h3>
				{{post.details|wpautop }}
			{% endif %}		
		</div>
		<div class="project-specs">
		{% if post.role %}
			<div class="project-specs__item">
				<h4 class="project-specs__title">Role</h4>
				<p class="project-specs__content">{{post.role}}</p>
			</div>
		{% endif %}
		{% if post.client %}
			<div class="project-specs__item">
				<h4 class="project-specs__title">Client</h4>
				<p class="project-specs__content">{{post.client}}</p>
			</div>
		{% endif %}
		{% if post.tools %}
			<div class="project-specs__item">
				<h4 class="project-specs__title">Tools</h4>
				<p class="project-specs__content">{{post.tools}}</p>
			</div>
		{% endif %}
		{% if post.development %}
			<div class="project-specs__item">
				<h4 class="project-specs__title">Development</h4>
				<p class="project-specs__content">{{post.development}}</p>
			</div>
		{% endif %}		
		</div>

	</section>
{% endblock %}

{% block page_navigation %}
	<div class="grid container">
		<section class="page-nav">

			<a href="/#portfolio" class="btn btn--secondary">Back to Portfolio</a>
		</section>
	</div>
{% endblock %}

{% block page_scripts %}
    {{ parent() }}
	<script type="text/javascript" src="{{site.theme.path}}/dist/js/lib/flickity.pkgd.min.js"></script>
	<script type="text/javascript" src="{{site.theme.path}}/dist/js/single-portfolio.js"></script>
{% endblock %}