{% extends "base.twig" %}

{% block styles %} {# append #}
    {{ parent() }}
    <link rel="stylesheet" href="{{ theme.link  }}/dist/css/single-portfolio.css" type="text/css" media="screen" />
{% endblock %}

{% block hero %}
    <section class="hero">
    	<div class="grid container">
        <div class="hero__block">
        	<h1 class="hero__title">{{post.title}}</h1>
        	<p class="hero__category">{{post.terms('portfolio-category')[0] }}</p>
    	</div>
    	</div>
    </section>
{% endblock %}

{% block media %}
		<section class="project-shots">
			<div class="main-carousel">
				<div class="carousel-cell"><img src="{{post.thumbnail}}"></div>
				<div class="carousel-cell">...</div>
				<div class="carousel-cell">...</div>
			</div>
		</section>
{% endblock %}

{% block content %}
	<section class="project-info">
		<div class="project-specs">
		{% if post.role %}
			<div class="project-specs__item">
				<h4 class="project-specs__title">Role</h4>
				<p>{{post.role}}</p>
			</div>
		{% endif %}
		{% if post.client %}
			<div class="project-specs__item">
				<h4 class="project-specs__title">Client</h4>
				<p>{{post.client}}</p>
			</div>
		{% endif %}
		{% if post.tools %}
			<div class="project-specs__item">
				<h4 class="project-specs__title">Tools</h4>
				<p>{{post.tools}}</p>
			</div>
		{% endif %}
		{% if post.development %}
			<div class="project-specs__item">
				<h4 class="project-specs__title">Development</h4>
				<p>{{post.development}}</p>
			</div>
		{% endif %}		
		</div>
		<div class="project-details">
			{% if post.details %}
				<h3 class="project-details__title">Project Details</h3>
				{{post.details|wpautop }}
			{% endif %}		
		</div>
	</section>
{% endblock %}

{% block page_navigation %}
	<div class="grid container">
		<section class="page-nav">

			<a href="/#portfolio" class="btn btn--secondary">Back to Portfolio</a>
		</section>
	</div>
{% endblock %}

{% block page_scripts %}
    {{ parent() }}
	<script type="text/javascript" src="{{site.theme.path}}/src/js/lib/flickity.pkgd.min.js"></script>
	<script type="text/javascript" src="{{site.theme.path}}/src/js/single-portfolio.js"></script>
{% endblock %}