<header class="site-header">
    <div class="container">
        <a href="/" class="site-header__logo" rel="home">
            <img onerror="{{ theme.link }}/src/img/jsamuel-logo.png" src="{{ theme.link }}/src/img/jsamuel-logo.svg" alt="Jeremy Samuel - Front-end Designer" scale="0">
        </a>
        <nav class="site-nav" role="navigation">
            <ul class="site-nav__list">
                {% for item in menu.get_items %} 
                    <li class="site-nav__item">
                        <a href="{{item.link}}" class="site-nav__link" aria-label="{{item.description}}">{{item.title}}</a>
                    </li>
                {% endfor %}                
            </ul>
        </nav>
    </div>
</header>