{% include 'html-header.twig' %}

{% block fonts %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Palanquin:300,400,700">
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{theme.path}}/dist/css/site.css" type="text/css" media="screen" /> 
{% endblock %}

<body class="{{body_class}}">
	{% block header %} 
		{% include 'headers/header.twig' %} 
	{% endblock %} 
	
	{% block hero %}
    <section class="hero">
    	<div class="grid container">
        <div class="hero__block">
        	<h1>{{post.title}}</h1>
        	<p class="hero__intro">I design <span class="accent">+</span> animate <span class="accent">+</span> code experiences for the web and mobile devices. Check out my Codepen to see what I'm working on, or my Twitter to see what I'm up to. I'm a pretty busy guy, but I'm always down to chat or take on freelance jobs that sound exciting.</p>
    	</div>
    	</div>
    </section>
	{% endblock %}

	{% block media %}{% endblock %}

	<div class="grid container">
		{% block content %}
			{% if title %}
				<h1>{{title}}</h1>
			{% endif %}
			There's nothing here!
		{% endblock %}
	</div>

	{% block page_navigation %}{% endblock %}

	{% block footer %} 
		{% include 'footers/footer.twig' %} 
		{{ function('wp_footer') }} 
		{% block page_scripts %}
			<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
			<script type="text/javascript" src="{{site.theme.path}}/dist/js/lib/jquery.scrollTo.js"></script>
			<script type="text/javascript" src="{{site.theme.path}}/dist/js/global.js"></script>
		{% endblock %}
	{% endblock %}
</body>

</html>