{% include 'html-header.twig' %}

	<body class="{{body_class}}" data-template="base.twig">
	{% block header %}
		{% include 'header.twig' %}
	{% endblock %}

	{% block hero %}{% endblock %}
	
	{% block content %}
		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
			Sorry, no content
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
			</div>
		</section>
	{% endblock %}
			

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
			{% block page_scripts %}{% endblock %}
		{% endblock %}
	</body>
</html>