{% extends "base.twig" %}
{% set file = TimberImage(post.resume_link) %}

{% block styles %} {# append #}
    {{ parent() }}
    <link rel="stylesheet" href="{{ theme.link  }}/dist/css/front-page.css" type="text/css" media="screen" />
{% endblock %}

{% block hero %}
    <section id="hero-home" class="hero--homepage">
    			<div class="grid container">
        <div class="hero__block">
            <h1 class="hero__title hero__title--underline">Hey, I'm Jeremy Samuel <span class="accent">+</span> I'm a 
            <span class="hero__subtitle">Front-end Designer.</span>
        </h1>
        <p class="hero__intro">{{ post.content|striptags('<span><a>') }}</p>
    </div>
    </div>
    </section>

{% endblock %}
{% block content %}

    <section id="work" class="portfolio">
        <ul class="portfolio__list">
 
           {% for item in portfolio %}
            <li class="portfolio__item">
                <figure>
                    <a href="{{ item.link }}">
                        <img class="portfolio__img" src="{{ item.thumbnail.src }}" alt="{{ item.thumbnail.alt }}" />
                        <figcaption class="portfolio__title">
                            {{ item.title }}
                            <span class="portfolio__tag">{{ item.terms('portfolio-category') | join(' / ') }}</span>
                        </figcaption>
                    </a>
                </figure>
            </li>
            {% endfor %}
        </ul>
        <!--<a href="#">Other Experiments</a> 
        In case you're curious.-->
    </section>
    <section id="about" class="about">
        <div class="about__summary">
            <h2 class="about__title">{{ post.about_title }}</h2>
            <p>{{ post.about_summary }}</p>
            <a href="{{ file.src}}" class="btn btn--primary" target="_blank">View Resume</a>
        </div>
        <div class="skills">
            {{ post.about_skills }}
        </div>
    </section>
{% endblock %}

{% block page_scripts %}
    {{ parent() }}
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script type="text/javascript" src="{{site.theme.path}}/dist/js/front-page.js"></script>
{% endblock %}