{% extends "base.twig" %}

{% block styles %} {# append #}
    {{ parent() }}
    <link rel="stylesheet" href="{{ theme.link  }}/dist/css/front-page.css" type="text/css" media="screen" />
{% endblock %}

{% block hero %}
    <section class="hero--homepage">
    			<div class="grid container">
        <div class="hero__block">
        <h1 class="hero__title">Hey, I'm Jeremy Samuel <span class="accent">+</span> I'm a 
            <span class="hero__subtitle">Front-end Designer.</span>
        </h1>
        <p class="hero__intro">{{ post.content }}</p>
    </div>
    </div>
    </section>

{% endblock %}
{% block content %}

    <section class="portfolio">
        <ul class="portfolio__list">
 
           {% for item in portfolio %}
            <li class="portfolio__item">
                <figure>
                    <a href="{{ item.link }}">
                        <img class="portfolio__img" src="{{ item.thumbnail.src }}" alt="{{ item.thumbnail.alt }}" />
                        <figcaption class="portfolio__title">
                            {{ item.title }}
                            <span class="portfolio__tag">{{ item.terms('portfolio-category')[0] }}</span>
                        </figcaption>
                    </a>
                </figure>
            </li>
            {% endfor %}

            <li class="portfolio__item">
                <figure>

                    <a href="#">
                        <img class="portfolio__img" src="http://www.bubbowrap.com/wp-content/uploads/2016/11/crevo-port-img.jpg" alt="Crevo Footwear" />
                    </a>
                </figure>
            </li>
            <li class="portfolio__item">
                <figure>
                    <a href="#">
                        <img class="portfolio__img" src="http://www.bubbowrap.com/wp-content/uploads/2016/11/crevo-port-img.jpg" alt="Crevo Footwear" />
                    </a>
                </figure>
            </li>
            <li class="portfolio__item">
                <figure>
                    <a href="#">
                        <img class="portfolio__img" src="http://www.bubbowrap.com/wp-content/uploads/2016/11/crevo-port-img.jpg" alt="Crevo Footwear" />
                    </a>
                </figure>
            </li>
            <li class="portfolio__item">
                <figure>
                    <a href="#">
                        <img class="portfolio__img" src="http://www.bubbowrap.com/wp-content/uploads/2016/11/crevo-port-img.jpg" alt="Crevo Footwear" />
                    </a>
                </figure>
            </li>
            <li class="portfolio__item">
                <figure>
                    <a href="#">
                        <img class="portfolio__img" src="http://www.bubbowrap.com/wp-content/uploads/2016/11/crevo-port-img.jpg" alt="Crevo Footwear" />
                    </a>
                </figure>
            </li>
        </ul>
        <!--<a href="#">Other Experiments</a> 
        In case you're curious.-->
    </section>
    <section class="about">
        <div class="about__summary">
            <h2 class="about__title">{{ post.about_title }}</h2>
            <p>{{ post.about_summary }}</p>
            <a href="#" class="btn btn--primary">View Resume</a>
        </div>
        <div class="skills">
            {{ post.about_skills }}
        </div>
    </section>
{% endblock %}